.pokerTableWrapper {
  padding: 15px;
  display: flex;
  gap: 10px;
  max-width: 1300px;
  min-height: max-content;
  overflow-y: auto;
  margin: auto;
  margin-top: 50px;
}

.pokerTableWrapper > :first-child {
  max-width: 1300px;
  height: max-content;
}

.pokerTableWrapper > :nth-child(2) {
  flex: 1;
  height: auto;
  min-width: 320px;
}
