.pokerTableWrapper {
  padding: 15px;
  display: flex;
  gap: 10px;
}

.pokerTableWrapper > :first-child {
  flex: 4;
  max-width: 1200px;
}

.pokerTableWrapper > :nth-child(2) {
  flex: 1;
  min-width: 270px;
}
